@model IEnumerable<Miniproyecto___Bertoni_Solutions.Models.Comment>

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Comentarios</h2>

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                Cuerpo
            </th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
        </tr>
    }
    </table>
}
else
{
    <p>No se encontraron resultados</p>
}
