@model List<Miniproyecto___Bertoni_Solutions.Models.Comment>

@{
    Layout = null;
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Email
            </th>
            <th>
                Cuerpo
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.body)
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No se encontraron resultados</p>
}
